<div class="card">
    <div class="card-content">
        <a class="card-title" href="/solution/{{id}}">
            {{ content }}
        </a>
    </div>
    <div class="card-action">
        <a href="/user/{{ author.id }}" class="">{{ author.local.email }}</a>
        <span class="solution__date">{{ createdAt }}</span>
        <span class="solution_comments">{{ comments.length }} Comments</span>
        <form class="" action="/solution/{{id}}?_method=DELETE" method="POST">
            <button type="submit" name="button">Delete</button>
        </form>
    </div>
    {{!-- not sure if this will work yet --}}
    <form action="/user/{{this.solution}}?_method=delete" method="post">
        <button type="delete" value="Remove">Delete Solution</button>
    </form>
</div>
